//COLOR
$VeryDarkGray: hsl(0, 0%, 17%);
$DarKGray: hsl(0, 0%, 59%);

//FONTS
$font-normal : 1.125rem;//18PX
$font-small: .5625rem;//9PX
$font-large: 2.4rem;//24PX
$font-medium: 1.5rem;//22px


//CONTAINER
